.pro-wrapper {
  margin: 50px 120px;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.product {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.product--img {
  height: 390.6px;
  width: 390.6px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.img-thumb {
  display: flex;
  gap: 1.5rem;
}
.thumb {
  border-radius: 5px;
  height: 80px;
  width: 80px;
}
.call--action {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}
.name {
  color: #e5a877;
}
.header {
  color: #1b1f24;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}

.desc {
  width: 600px;
  text-align: justify;
}
.price {
  font-weight: 700;
  font-size: 28px;
  color: #3c3d41;
  line-height: 14px;
}
.price > .rating {
  margin-left: 20px;
}
.rating {
  background-color: #fdefe3;
  color: #f2a96a;
  font-size: 18px;
}
.bf--price {
  color: #c5c8cf;
  font-size: 16px;
  text-align: justify;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.display {
  background-color: #f7f8fd;
  padding: 6px 10px;
}
.counter > img {
  padding: 10px 10px;
  background-color: #f7f8fd;
  /* border: 1px solid #f2a96a; */
}
