nav {
  border-bottom: 2px solid #f6f6f7;
  padding: 1.5rem 0;
}

.nav--group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 5rem;
}

.navs>a {
  margin-left: 2rem;
  text-decoration: none;
}

.cart--avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-top: -30px;
}

.avatar {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.cart {
  cursor: pointer;
}

.cart--modal {
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 10px;
  height: 30px;
  width: 30px;

}

.badge {
  position: absolute;
  height: 25px;
  width: 25px;
  color: white;
  text-align: center;
  padding-top: 4px;
  background-color: rgb(245, 103, 103);
  border-radius: 50%;
  transform: translate(-55px, -15px);
}

.menu {
  display: none;
}

.menu--icon {
  display: none;
}

/* mobileView*/
@media screen and (max-width: 1024px) {
  .mobileView {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }

  .nav--group {
    display: none;
  }

  .navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 50px;
    margin-left: -50px;
  }

  .navs>a {
    transition: 1s ease;
  }

  .navs>a:hover {
    font-size: 25px;
  }

  .badge {
    transform: translate(-55px, -5px);
  }

  .cart--avatar {
    display: flex;
  }

  .menu--icon {
    display: flex;
    position: absolute;
    left: 32px;
    top: 35px;
    object-fit: contain;
    height: 20px;
    width: 30px;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .logo {
    display: none;
  }
}