.login--container {
  display: grid;
  grid-template-columns: 60% 1fr;
  /* border-radius: 10px; */
}

.login--form {
  background-color: #ff7d1b;
  padding-bottom: 50px;
  color: #fff;
  padding-top: 50px;
}

.hero {
  height: 100%;
  width: 100%;
}

.header {
  margin-bottom: 20px;
  color: #fff;
}

.input--group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputs {
  padding: 5px;
  width: 240px;
  height: 40px;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.btn--login {
  padding: 5px 20px;
  width: 240px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
}

.btn--login:hover {
  background-color: rgba(0, 128, 0, 0.6);
  color: #fff;
  transition: background-color 1s ease;
}

.check {
  margin-left: -86px;
}

@media screen and (max-width: 420px) {
  .login--container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  .hero {
    display: none;
  }

  .input--group {}

  .inputs {
    width: 240px;
    height: 40px;
  }
}