.pro-wrapper {
  margin: 50px 120px;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.product {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.product--img {
  height: 390.6px;
  width: 390.6px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.img-thumb {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.thumb {
  border-radius: 5px;
  height: 80px;
  width: 80px;
}
.call--action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name {
  margin-bottom: -20px;
  color: #e5a877;
  font-weight: 800;
}
.header {
  color: #1b1f24;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: -3px;
}

.desc {
  margin-top: 35px;
  width: 600px;
  text-align: justify;
  color: #c5c8cf;
}
.price {
  font-weight: 700;
  font-size: 28px;
  color: #3c3d41;
  line-height: 14px;
}
.price > .rating {
  margin-left: 20px;
}
.rating {
  background-color: #fdefe3;
  color: #f2a96a;
  font-size: 18px;
}
.bf--price {
  color: #c5c8cf;
  font-size: 16px;
  text-align: justify;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.display {
  background-color: #f7f8fd;
  padding: 8px 12px;
}
.counter > img {
  padding: 10px 10px;
  background-color: #f7f8fd;
  /* border: 1px solid #f2a96a; */
}
.btn {
  position: relative;
  background-color: #ff7d1b;
  border: none;
  color: white;
  padding: 15px 80px;
  border-radius: 10px;
  cursor: pointer;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart--logo {
  position: absolute;
  left: 40px;
  top: 13px;
}
.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.prev {
  position: absolute;
  left: 38%;
  top: 53%;
}
.prev--img,
.next--img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #c5c8cf;
  cursor: pointer;
}

.next {
  position: absolute;
  left: 60%;
  top: 53%;
}
/* Avatar Modal*/
.avatar-modal {
  display: grid;
  grid-template-rows: 30% 1fr;
  gap: 50px;
  position: absolute;
  height: 300px;
  width: 250px;
  background-color: #fff;
  right: 32px;
  top: 90px;
  border: 2px solid silver;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* font-size: 24px; */
  /* color: #f2a96a; */
  cursor: pointer;
}
.avatar-plus {
  margin-top: 30px;
}
/* .avatar-plus::after {
  position: absolute;
  content: "";
  top: 65px;
  width: 73px;
  height: 2px;
  background-color: #1b1f24;
}
.avatar-plus::before {
  position: absolute;
  content: "";
  top: 65px;
  width: 73px;
  height: 2px;
  left: -0.5px;
  background-color: #1b1f24;
} */
.user-bio {
  line-height: 5px;
}
h2 {
  color: #f2a96a;
}
.mail {
  color: silver;
}
.logout {
  margin-top: 50px;
}
.btn--logout {
  padding: 11px 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ff7d1b;
  color: #fff;
}
.btn--logout:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.sec1 {
  background-color: #ff7d1b;
}
