#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal {
  margin-top: 200px;
}

.cancel--btn {
  position: absolute;
  left: 50rem;
  top: 170px;
  height: 30px;
  width: 30px;
  cursor: pointer;

}

/* SneakersDetails*/

/* Online Payment*/

/* PayStack */