.payment {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7d1b;
}



.pay--option {
  color: #fff;
}

.title {
  color: #fff;

}

li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
}

.pro--list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  color: #fff;
}

.paypal--img {
  height: 70px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.or {
  position: relative;
}

/* @media (max-width: 420px) {
  
} */

@media only screen and (min-width: 1281px) {
  .quiz-container {
    background: #fad9d9;
    width: 800px;
  }
}

@media only screen and (max-width: 1280px) {
  .quiz-container {
    background: #0b008a;
    width: 450px;
  }
}

@media only screen and (max-width: 1024px) {
  .quiz-container {
    background: rgb(19, 55, 217);
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .quiz-container {
    background: #9c9c9c;
    width: 350px;
  }
}

@media only screen and (max-width: 640px) {
  .payment {
    /* width: auto; */
  }

  .title {
    font-size: 36px;
    color: #fff;
  }

  .pro--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pay--info {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }

  .paypal--img {
    height: 40px;
    width: 200px;
  }
}